.bg1 {
  width: 18%;
  height: 23em;
}
.bg2 {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 2%;
  height: 6%;
}
.inicio {
  margin-left: 94%;
  margin-top: 1.3%;
  color: #f0ff00;
  font-size: 24pt;
  text-decoration: none;
}

