<div class="contatos">
          <div class="widget-item">
            <h4 class="tl">Telefones</h4>
            <div class="  rc">
              <li>+55 21 88888-8888</li>
              <br>
              <li>+55 21 99999-9999</li>
            </div>
          </div>
          <div class="widget-item">
            <h4 class="tl">E-mail</h4>
            <div class=" rc">
              <li>horizon@gmail.com.br</li>
            </div>
          </div>
</div>
<div class="footer-bottom">
			<div class="footer-warp">
                    <ul>
                        <li class="links">
                            <a class="cor" href="politica">Política de Privacidade </a>
                            <span> | </span>
                            <a class="cor" href=""> Segurança </a>
                            <span> | </span>
                            <a class="cor" href="">Termos</a>
                        </li>
                    </ul>
				<div class="copyright">Copyright ©<script>document.write(new Date().getFullYear());</script>2021 Todos os direitos reservados | Desenvolvido por Horizon
                </div>
                <br>
                <br>
			</div>
		</div>
