<div class="contatos">
        <div class="widget-item">
            <h4 class="tl">Endereço</h4>
            <div class=" rc">
              <li>Rua do Rosário, 103 - 10º andar</li>
              <br>
              <li>Centro - Rio de Janeiro</li>
              <br>
              <li>CEP 20041-004</li>
            </div>
          </div>
          <div class="widget-item">
            <h4 class="tl">Telefones</h4>
            <div class="  rc">
              <li>+55 21 3559-0665</li>
              <br>
              <li>+55 21 3549-0465</li>
            </div>
          </div>
          <div class="widget-item">
            <h4 class="tl">E-mail</h4>
            <div class=" rc">
              <li>contato@sinn.com.br</li>
            </div>
          </div>
          <div class="widget-item">
            <h4 class="tl">Produtos relacionados</h4>
            <div class=" rc">
              <li> Sinn.wallet</li>
              <br>
              <li> Sinness</li>
              <br>
              <li> Sinntesis</li>
              <br>
              <li> Sinn.educa</li>
              <br>
              <li> Sinn.solutions</li>
              <br>
            </div>
          </div> 
</div>
<div class="footer-bottom">
			<div class="footer-warp">
                    <ul>
                        <li class="links">
                            <a class="cor" href="politica">Política de Privacidade </a>
                            <span> | </span>
                            <a class="cor" href=""> Segurança </a>
                            <span> | </span>
                            <a class="cor" href="">Termos</a>
                        </li>
                    </ul>
				<div class="copyright">Copyright ©<script>document.write(new Date().getFullYear());</script>2019 Todos os direitos reservados | MZ Participações | Desenvolvido por Sinn Tecnologia
                </div>
                <br>
                <br>
			</div>
		</div>