@import "./../../../../assets/scss/variables";

::ng-deep .mat-step-text-label .mat-step-icon {
  font-size: 1.5em !important;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: $primary_color;
}
.extended-fab-button {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;
  z-index: 999;
  position: fixed;
  right: 5%;
  bottom: 10%;
  background-color: $primary_color;

  .mat-icon {
    margin-right: 10px;
    color: white;
  }

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
  }
}
.extended-fab-button-hieraquia {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;
  z-index: 999;
  position: fixed;
  left: 5%;
  bottom: 10%;
  .mat-icon {
    margin-right: 10px;
    color: white;
  }

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
  }

}

::ng-deep.mat-step-label {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.stepperTitle {
  font-size: 1.3em;
  display: flex;
  justify-content: flex-start;
}
.stepperButtons {
  display: flex;
  justify-content: flex-end;
}
::ng-deep.mat-radio-button {
  display: flex !important;
  -webkit-tap-highlight-color: transparent !important;
  outline: 0 !important;
  flex-direction: column !important;
  margin: 2% !important;
}

::ng-deep.mat-vertical-content {
  padding: 0px 0px 0px 24px;
}
