.card-raised {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 1px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  transition: all 0.5s ease;
}

.card-header {
  position: absolute;
  text-align: center;
  background: linear-gradient(60deg, rgb(173, 31, 34), rgb(153, 18, 20));
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 20px 0px,
    rgba(255, 152, 0, 0.4) 0px 7px 10px -5px;
  border-radius: 3px;
  padding: 15px;
  top: -23px;
}

.card-header i {
  font-size: 24px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  color: #fff;
}

.card-content {
  position: relative;
}
.card-title {
  // cursor: pointer;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;

  h4 {
    margin-bottom: 15px;
  }
}
.card.onModal {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: rgba(86, 86, 86, 0.77);
  transition: all 0.5s ease;
  padding: 15px 15px;
  & .card-header {
    display: none;
  }
  & .card-content {
    min-width: 80%;
    max-width: 80%;
    max-height: 100%;
    overflow: auto;
    background: #fff;
    box-shadow: 0px 0px 30px -10px #949494;
  }
  & .card-title {
    background-color: #ad1f22;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    min-width: 80%;
  }
  &.error .content {
    border: 1px solid #ea4242;
    border-radius: 4px;
  }
}
.card.colapse {
  transition: 0.3s;
  height: 65px;
  overflow: hidden;
  & .card-header {
    opacity: 0;
    transition: 0.3s;
  }
}

.colapse_icon {
  position: absolute;
  right: 0;
  top: 0;
}
.card-content {
  transition: 0.5s;
  transform: scaleY(1);
  transform-origin: top;
  max-height: 100%;
  &.colapse {
    transform: scaleY(0);
    max-height: 0px;
    transition: 0.5s;
  }
}
.icon_colapse {
  transition: 0.5s;
  &.colapse {
    transform: rotate(180deg);
    transition: 0.5s;
  }
}
