<div class="botaoGrande">
  <div class="cadastro">
    <span>
      Faça seu cadastro
    </span>
  </div>
</div>
<mat-card class="filterMenu">
  <mat-card-header>
    <mat-card-title class="DP">Dados pessoais</mat-card-title>
    <mat-card-subtitle class="subtitle">
      Preencha os campos abaixo!
    </mat-card-subtitle>
  </mat-card-header>
  <br />
  <br />
  <mat-card-content>
    <form class="formulario" [formGroup]="formulario">
      <!-- //Nome Completo -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Nome Completo</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="nome"
          class="inputColor"
        />

        <mat-error>
          {{ formulario.get("nome")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Email</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="email"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("email")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- CPF -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>CPF</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="cpf"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("cpf")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Rg -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>RG</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="rg"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("rg")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Orgão expeditor -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Orgão expeditor</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="o_e"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("o_e")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Data de expedição -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Data de expedição</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="data_e"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("data_e")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Título de eleitor -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Título de eleitor</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="t_e"
          class="inputColor"
        />
      </mat-form-field>
      <!-- Zona/Seção -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Zona/Seção</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="zs"
          class="inputColor"
        />
      </mat-form-field>
      <!-- Data de nascimento -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Data de nascimento</mat-label>
        <input
          required
          matInput
          placeholder=""
          formControlName="d_n"
          class="inputColor"
        />
        <mat-error>
          {{ formulario.get("d_n")["errors"] | errorKey }}
        </mat-error>
      </mat-form-field>
      <!-- Endereço -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Endereço</mat-label>
        <input
        required
        matInput
        placeholder=""
        formControlName="end"
        class="inputColor"
        />
        <mat-error>
            {{ formulario.get("end")["errors"] | errorKey }}
          </mat-error>
        
      </mat-form-field>
      <!-- CEP -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>CEP</mat-label>
        <input 
        required         
        matInput
        placeholder=""
        formControlName="cep"
        class="inputColor"
        />
        <mat-error>
            {{ formulario.get("cep")["errors"] | errorKey }}
          </mat-error>
      </mat-form-field>
    </form>
    <br />
    <br />
    <br />
    <mat-card-title class="DP">Outros Dados</mat-card-title>
    <br />
    <br />
    <br />
    <form class="formulario" [formGroup]="formulario">
      <!-- //Numero do passaporte -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Número do passaporte</mat-label>
        <input
        matInput
        placeholder=""
        formControlName="np"
        class="inputColor"
        />
      </mat-form-field>
      <!-- carteira de habilitação -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Carteira de Habilitação</mat-label>
        <input
        matInput
        placeholder=""
        formControlName="ch"
        class="inputColor"
        />
      </mat-form-field>
      <!-- Nome da mae -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Nome da Mãe</mat-label>
        <input
        matInput
        placeholder=""
        formControlName="nomemae"
        class="inputColor"
        />
      </mat-form-field>
      <!-- Nome do Pai -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Nome do Pai</mat-label>
        <input
        matInput
        placeholder=""
        formControlName="nomepai"
        class="inputColor"
        />
      </mat-form-field>
      <!-- Nacionalidade -->
      <mat-form-field appearance="fill" class="formInput">
        <mat-label>Nacionalidade</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="nacionalidade"
          class="inputColor"
        />
  
      </mat-form-field>
      
    </form>
  </mat-card-content>
  <!-- botao cadastrar do formulario -->
  <mat-card-actions>
    <button class="cd" mat-raised-button (click)="register()">
      Cadastrar
    </button>
  </mat-card-actions>
</mat-card>
<br>
<br>
<br>