<div class="nova">
<div class="letra responsiva">
  <h1 class="pl">
  CURSOS
  </h1>
</div>
<div class="row di">
    <div class="ci-text">
      <img class="emp" src="/assets/img2/categories/1.png" alt="" />
      <h3 class="hletra">Curso 1</h3>
    </div>
    <div class=" bp ci-text">
      <img class="emp" src="/assets/img2/categories/2.png" alt="" />
      <h3 class="hletra">Curso 2</h3>
    </div>
    <div class=" bp ci-text">
      <img class="emp" src="/assets/img2/categories/3.png" alt="" />
      <h3 class="hletra">Curso 3</h3>
    </div>
</div>
<app-registro></app-registro>
</div>
