<section>
<img
  class="inicio responsive"
  src="/assets/img2/img-sinnid-inicio.png"
  alt=""
/>
<div class="mensagem">
  <mat-card class="filterMenu">
    <mat-card-header>
      <mat-card-title class="tit DP"
        >Acesse seus dados de uma nova forma</mat-card-title
      >
      <mat-card-subtitle class="subtitle subt">
        Se cadastre agora e diga Sinn para a maior rede BLOCKCHAIN do país!
      </mat-card-subtitle>
    </mat-card-header>
    <br />
    <br />
    <mat-card-content>
      <form class="formulario" [formGroup]="formulario">
        <mat-form-field appearance="matPrefix" class="formInput">
          <input
            matInput
            placeholder="Nome Completo"
            formControlName="nome"
            class="inputColor"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="matPrefix" class="formInput">
          <input
            matInput
            placeholder="E-mail"
            formControlName="email"
            class="inputColor"
          />
        </mat-form-field>
        <button class="cd" mat-raised-button (click)="register()">
            Cadastrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <label class="letra responsiva">
        <h1 class="pl">O que o <span class="cor">sinn</span><span class="cor2">.id</span> faz por você</h1>
        <p class="p p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.            </p>
    </label>
